.center {
  padding-top: 2.5%;
  text-align: center;
}

.divider {
  height: 10px;
  width: auto;
  display: inline-block;
}


.login-status {
  padding: 10px;
  margin: 0;
  width: 50%;
  text-align: center;
  display: inline-block;
}

.login-container {
  padding-top: 2.5%;
  text-align: center;
}

.synced {
  left: 100px
}