<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Your Privacy on MixerToTwitch and Your Rights</h2>
      </mat-card-title>
      <mat-card-title>
        <h3>Version 1.0 29/May/2020</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>Who are we?</h3>
      <p>We are MixerToTwitch, a service to connect multiple services together to assist in whitelisting on different
        platforms.</p>
      <p>In the event that you have a question about your privacy on MixerToTwitch, please reach out to us on
        nexuswhitelist@gmail.com</p>
      <h3>What do we collect and why?</h3>
      <p>We collect a variety of information about and from you. You consent for this information to be collected
        whenever you login via the Terms of Service for our System. What we collect about is different based on what
        services you connect.</p>
      <h3>Information We Could Collect</h3>
      <p>Our system is hosted in Canada. Here we connect a variety of APIs and get information from you and about you
        with your consent and authentication via our Minecraft Whitelisting Server.</p>
      <li>We collect your Twitch Account information, including ID, username, and follows, so we can allow for automatic
        following.</li>
      <li>We collect your Mixer Account information, including ID, username, and follows, so we can allow for automatic
        following.</li>

    </mat-card-content>
  </mat-card>
</div>
<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>MixerToTwitch | Your Rights</h2>
      </mat-card-title>
      <mat-card-title>
        <h3>Version 1.0 29/May/2020</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>Your Rights</h3>
      <p>The data we keep about you is your personal data and falls under the EU General Data Protection Regulation
        (GDPR) of 2018 if you are an EU citizen. This means that you have certain rights:</p>
      <ol>
        <li><b>The Right To Be Informed:</b> Your first right is that we tell you about what data is held about you.
          This also includes informing you of your rights, on which this privacy notice is given.</li>
        <li><b>The Right To Access:</b> You have a right to know what information is held about you. This allows you to
          check that MixerToTwitch is correctly using your data for its intended purpose. If you feel that your data
          isn’t being processed correctly, please reach out to us on <a href="mailto:nexuswhitelist@gmail.com"
            style="color: white">nexuswhitelist@gmail.com</a></li>
        <li><b>The Right To Rectification:</b> This is your right to correct the data that is held about you. Most of
          the data we hold is done via the System and can be self-corrected by you, using that same system. If you are
          unable to correct your data, please reach out to us on <a href="mailto:nexuswhitelist@gmail.com"
            style="color: white">nexuswhitelist@gmail.com</a></li>
        <li><b>The Right To Erasure:</b> This is your right to be forgotten. When you request to be forgotten, all of
          the data that is held about you is gone, this is an irreversible process. You will also as part of this
          irreversible process, lose access to everything within MixerToTwitch as well as any progress that you have
          made on any of our servers. If you do not want your information to be held by MixerToTwitch anymore, please
          reach out to us on <a href="mailto:nexuswhitelist@gmail.com" style="color: white">nexuswhitelist@gmail.com</a>
        </li>
        <li><b>The Right To Restrict Processing:</b> If you feel that MixerToTwitch is not using the data for its
          intended purpose, you have the right to stop us from doing anything with your data for a while - stretching as
          far as deleting it - while the staff deal with your issue.</li>
        <li><b>The Right To Data Portability:</b> You have a right to take your data from MixerToTwitch and use it
          elsewhere on other services in a common, open structured format that is intended for computer use. If you wish
          to do this, please reach out to us on <a href="mailto:nexuswhitelist@gmail.com"
            style="color: white">nexuswhitelist@gmail.com</a></li>
        <li><b>The Right To Object:</b> You may, at any point in time, object to our processing of your personal
          information on grounds relating to your particular situation. Any objections should be made to us on <a
            href="mailto:nexuswhitelist@gmail.com" style="color: white">nexuswhitelist@gmail.com</a></li>
        <li><b>Rights In Relation To Automated Decision Making And Profiling:</b> While you have various rights relating
          to profiling and automated decision-making, We do not engage in either of these activities.</li>
      </ol>
    </mat-card-content>
  </mat-card>
</div>